{% block script%}

    {# TinyMCE #}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey={{tinymce}}"></script>


    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen imagetools',
                'insertdatetime media table paste code help wordcount codesample'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code codesample | help',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ],

            toolbar_drawer: 'sliding',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            images_upload_base_path: '/static/upload',
            menubar: "tools table format view insert edit",
            paste_data_images: true

        });

    </script>

{% endblock %}
    <div class="container border-left border-right bg-white" style="height:auto;">

        <div>


            <h1 class="admin-header">DOMDIT.COM - Admin Tools</h1>

            <hr>

        </div>

        <small>*Admin tools should be manipulated on the desktop, you will lose some functionality on mobile</small>

        <div class="list-group m-3" style="max-width: 300px;">

            <a class="list-group-item py-1 list-group-item-action {{ 'active' if active_page == 'blog' else '' }}"
               href="{{url_for('new_blog_post')}}">Write New Blog Post</a>


            <a class="list-group-item py-1 list-group-item-action {{ 'active' if active_page == 'portfolio' else '' }}"
               href="{{url_for('portfolio')}}">Update Portfolio</a>

            <a class="list-group-item py-1 list-group-item-action {{ 'active' if active_page == 'test' else '' }}"
               href="{{url_for('testimonial')}}">Update Testimonials</a>

            <a class="list-group-item py-1 list-group-item-action {{ 'active' if active_page == 'admin' else '' }}"
               href="{{url_for('new_admin')}}">Create New Administrative Account</a>

            <a class="list-group-item py-1 list-group-item-action"
               href="http://webmail.domdit.com" target="_blank">Email</a>

            <a class="list-group-item py-1 list-group-item-action"
               href="{{url_for('logout')}}">Logout</a>

        </div>

