{% set active_page = "blog-page" %}

{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block main %}

{% include 'navbar.html' %}

<div id="blog" class="container" style="padding-top: 100px;">

    {% for post in posts %}

        <div class="blog-post border rounded">
            <h1>{{post.name|safe}}</h1>
            <small>{{post.date|safe}} by Dominic DiTaranto</small>
            <hr>
            {{post.text|safe}}
        </div>

    {% endfor %}

</div>

{% endblock %}