{% set active_page = "blog-page" %}

{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block main %}

{% include 'navbar.html' %}

<div id="blog" class="container" style="padding-top: 100px;">
    <div class="blog-post border rounded">
        <h1>{{post.name}}</h1>
        <small>{{post.date}} by Dominic DiTaranto</small>
        <br>
        <small>
            {% if current_user.is_authenticated %}
                <a href="{{url_for('admin/post/', post_id=post.id, 'update')}}">
                    Edit

                </a>
            {% endif %}


        </small>
        <hr>
        {{post.text}}
    </div>
</div>

{% endblock %}