{% set active_page = "blog-page" %}

{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block main %}

{% include 'navbar.html' %}

<div id="blog" class="container" style="padding-top: 100px;">
    <div class="blog-post border rounded">
        <h1>Name of the Post</h1>
        <small>11/28/1992 10:25 by Dominic DiTaranto</small>
        <hr>
        <h2>I am just talking about shit</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque eget diam et faucibus. Suspendisse semper tellus non velit volutpat, ac fringilla purus finibus. Sed semper metus justo, a posuere ligula ultricies eget. Nulla lorem odio, vulputate eu ex non, posuere vestibulum tellus. Suspendisse rutrum orci a lacus iaculis volutpat. Vivamus auctor ligula non ex hendrerit facilisis. Praesent tempus porta eros, et ultricies enim venenatis quis. Integer non nulla felis. Nam id est quis ante tincidunt mollis et non erat.
            <br>
            <h2>another test</h2>

        <p>
        Sed egestas finibus mi, sed faucibus elit facilisis et. Pellentesque tempor id urna ut lobortis. Donec at metus vehicula, euismod lectus ac, semper eros. Mauris lacus arcu, posuere nec pulvinar eu, consectetur nec metus. Nunc sed ante gravida, laoreet sem a, commodo mauris. Proin ultrices dolor eu orci semper dapibus. Nam aliquam pulvinar ornare. Pellentesque sit amet mauris sagittis, sagittis dui a, volutpat tortor. Etiam mi lorem, venenatis ut pulvinar at, molestie id sapien. Ut lacinia elit sed tellus consequat, non tincidunt tellus consectetur.



        <a href="#">Music</a>

        <h3>Here is some code!</h3>


        <p>你好，我大概不会入力中文？

        日本語の入力も使えるかな</p>

        <img src="static/img/me.jpg">





    </div>


</div>

{% endblock %}