{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block main %}

{% include 'navbar.html' %}

<div class="testimonial-container" style="padding:100px;">

    <h1 class="mb-4">Testimonials</h1>

    <div style="width: 75%;" class="testimonial shadow p-3 mb-5 bg-light rounded mx-auto">

        <img src="static/img/portfolio/buleku/thumbnail.png" class="float-left testimonial-img">

        <h1> Monica Vannasing </h1>
        <h2> <a href="www.sianstreetfood.com">Sian Street Food</a> </h2>

        <p>
            Pokem ipsum dolor sit amet Reuniclus Blaziken Meowth Ralts Numel gotta catch 'em all. Water Gun Nidoran gotta catch 'em all Ampharos Giratina Kakuna Duskull. Pikachu Zigzagoon Linoone Fog Badge Johto Pewter City Roggenrola. Lavender Town Vanilluxe Pokemon Espeon Clefable Honchkrow Sand-Attack. Marsh Badge

        <br>

        <span class="float-right">
            <a class="test-link" href="#">visit site</a> | <a class="test-link" href="#">portfolio entry</a>
        </span>
        </p>

    </div>

</div>

{% endblock %}